langchain
langchain-text-splitters
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pandas
pymupdf
unstructured[all-docs]
pdfminer
python-docx
docx2txt
nltk
openpyxl
jq