langchain
langchain-text-splitters
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
pypdf
python-dotenv
ipykernel
pandas
pymupdf
unstructured[all-docs]
pdfminer
python-docx
docx2txt
nltk
openpyxl
jq
matplotlib

# Requirements for Embedding
langchain-huggingface
sentence-transformers

google-genai
langchain-google-genai


rank_bm25


# agents man !!!
langgraph